{#
/**
 * @file
 * Default implementation of 'image_library_widget_browser' theme template.
 *
 * Available variables:
 * - label: A label to be displayed with the image library browser.
 * - browser: The Views browser as a render array.
 * - has_results: If the browser is displaying at least one image.
 * - attributes: The widget's outer div attributes.
 */
#}
{% if has_results %}
<div{{ attributes }}>
  {% if label %}
    <div class="image-library-widget-label">{{ label }}</div>
  {% endif %}
  <div class="image-library-widget-view js-image-library-widget-view">
    {{ browser }}
  </div>
</div>
{% endif %}
